<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover ="https://www.ipcc.ch/site/assets/uploads/sites/3/2019/10/img-placeholder.png" 
        cardTitle =" Este é o titulo"
        cardDescription = "Lorem Ipsum. Está é uma breve descrição."
        >
    
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card cardTitle="Novo Angular"
        photoCover="https://www.ipcc.ch/site/assets/uploads/sites/3/2019/10/img-placeholder.png"
        >
        </app-small-card>
        <app-small-card cardTitle="Novo Angular"
        photoCover="https://www.ipcc.ch/site/assets/uploads/sites/3/2019/10/img-placeholder.png"
        >
        </app-small-card>
        <app-small-card cardTitle="Novo Angular"
        photoCover="https://www.ipcc.ch/site/assets/uploads/sites/3/2019/10/img-placeholder.png"
        >
        </app-small-card>
        
    </div>
</div>
