<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://www.ipcc.ch/site/assets/uploads/sites/3/2019/10/img-placeholder.png" height="200px" alt="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi voluptatem velit modi vel nobis a laudantium eligendi nostrum magnam, in earum suscipit, ducimus minus inventore? Vero molestiae delectus dolores esse.</a></p>
    </div>
</div>
